.back-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
    font-weight: 600;
    text-decoration: none;
    font-style: italic;
    background: linear-gradient(90deg, #34b5ff, #71fff8, #97e3ff, #34b5ff);
    background-size: 250px;
    outline: none;
    border: none;
    padding: 8px 25px;
    cursor: pointer;
    animation-name: waving;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes waving {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 250px;
    }
}