:root {
    --light-gray-color: #bebebe;
    --azure-color: #71fff8;
    --sky-color: #73ccff;
    --light-gold-color: #eee5c5;
    --blue-color:#0084d0;
    --gradient-background: linear-gradient(80deg, var(--azure-color) 7%, var(--blue-color) 50%, var(--blue-color) 80%, var(--sky-color));
    --warning-color: #bb0035;
    --dark-font-color: #261b2a;
}